/* Google imports */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Asterisk wildcard selector to override default styles set by browser */

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}


body {
    font-family:'playfair Display',sans-serif;
    text-align: center;
    height: 100%;
    background-color: #EEE;
}

/* Game Styles */

.canvas {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    padding: 5px;
}

#gameBox {
    max-height: 850px;
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    background-color: lightblue;
    border: solid 1px darkblue;
}

#gameBox > section {
    padding: 20px;
    display: none;
}

#roundResults {
    margin-top: 20px;
    padding: 10px;
    background: #EEE;
    display: none;
}

/* Set Default Button Styles */

button {
    font-weight: bold;
    padding: 10px;
    width: 140px;
    height: 40px;
    margin-top: 10px;
    margin-bottom : 10px;
}

ul {
    list-style-type: none;
}

/* Intro Page Styles and Buttons */

#welcome {
    margin: 20px 0;
}

#introImg img {
    max-width: 100%;
}

/* Game Page Screen Styles and Buttons */

#choseStyle {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

#scoreSec {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}

#playAgainBtn {
    display: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* Styles to Results Displayed Box */

#roundDisplay {
    margin: 25px auto;
    padding: 10px;
    border: 2px solid black;
    background-color: lightgray;
    min-height: 200px;
}

#roundStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#winnerLabel {
    display: none;
}

#currentRoundLabel {
    font-weight: bold;
    font-size: 20px;
}

#choseStyle {
    margin-top: 10px;
    margin-bottom: 20px;
}

#nextRoundLabel{
    margin-top: 30px;
    display: none;
}



